@import "../../Styles/_index.scss";

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: $color-bg-primary--darker;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .nav-menu {
    width: 30%;
    margin-right: 2rem;
    &-items {
      list-style: none;
      @include display(flex, row, nowrap, space-around);
      margin-top: 0;
      width: 100%;
      padding-left: 0px;
      & li {
        line-height: 80px;
        & a {
          text-decoration: none;
          font-size: $fs-s;
          color: rgb(220, 218, 215);
          position: relative;
          font-weight: 200;
          letter-spacing: 1px;
          &::before {
            content: "";
            position: absolute;
            height: 0.3rem;
            bottom: 0;
            left: 0;
            width: 0%;
            background-color: red;
            transition: all 0.4s ease;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
  .fas {
    display: none;
  }
}

.logo_icon {
  width: 80px;
  height: 80px;
}

//small devices

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    .nav-menu {
      width: 40%;
    }
  }
}

//tablets

@media (max-width: 768px) {
  .navbar {
    & .nav-menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: $color-bg-primary--darker;
      top: 80px;
      left: -100%;
      transition: all 0.5s ease-out;
      padding-left: 0;
      display: block;
      text-align: center;

      &.active {
        left: 0;
      }

      &-items {
        width: auto;
        display: block;
        margin-top: 0;

        & li a {
          color: white;
          font-size: $fs-s;

          &:hover {
            color: red;
          }
        }
      }
    }

    .fas {
      display: block;
      margin-right: 35px;
      font-size: 40px;
    }
  }
}

//mobile

@media screen and (max-width: 480px) {
  .navbar {
    .fas {
      font-size: 25px;
    }
  }
}
