@import "../../Styles/_index.scss";

.hero {
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
        flex-basis: 1;
        max-width: 600px;
        margin-right: 100px;
        &-head {
            color: $color-text--black;
            text-transform: uppercase;
            font-size: $fs-xl;
            font-family: $font-family-heading;
        }
        &-content {
            color: $color-text--grey;
            font-weight: 200;
        }
        
    }

    &__video{
        flex: 1;
        max-width: 600px;
        & video {
            width: 90%;
            height: 90%;
            position: relative;
            top: 20px;
            left: 35px;
        }
    }
}

//tablet

@media screen and (min-width: 481px) and (max-width: 750px) {
    .hero {
        display: grid;
        padding: 0;
        margin: 35px 70px 120px 70px;
        &__text {
            margin-right: 0px;
            &-head {
                font-size: 60px;
            }
            &-content {
                font-size: $fs-s;
                margin-bottom: 50px;
            }
        }

        &__video {
            max-width: 600px;
            & video {
                    width: 100%;
                    height: 100%;
                    left: 0px;
                }
        }
    }
    
}

//mobile

@media screen and (max-width: 480px) {
    .hero {
        display: grid;
        padding: 0;
        margin: 35px 70px 100px 70px;
        &__text {
            max-width: 600px;
            margin-right: 0px;
            &-head {
                font-size: 40px;
            }
            &-content {
                font-size: $fs-s;
            }
        }
        &__video {
            max-width: 600px;
            & video {
                    width: 100%;
                    height: 100%;
                    left: 0px;
                }
        }
    }
    
}