
@mixin type(
    $font-size: $size-rem,
    $font-family: $font-family,
    $font-weight: 400,
    $line-height: 1,
    $color: $color-text
  ) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color-text;
  }
  
  @mixin block {
    $display: block;
    $width: 100%;
  }
  
  @mixin display($display, $row, $wrap, $justify-content) {
    display: $display;
    flex-flow: $row $wrap;
    justify-content: $justify-content;
  }