@import "../../Styles/_index.scss";

.imgSlide {
    background-image: url("../../images/sliderOne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: changeImage 12s ease-in infinite;
    text-align: center;
    margin-top: 80px;
    flex-basis: 100vh;
    transition: all 1.2s ease;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
  
    &__text {
      color: $color-text;
      letter-spacing: 1.7rem;
      font-weight: 800;
      font-size: $fs-xxl;
      margin: 0 auto;
      animation: slideLeft 3s ease;
    }
    
  }

  
  @keyframes changeImage {
      0% {
          background-image: url("../../images/sliderOne1024px.jpg");
          
          
      }
      50% {
          background-image: url("../../images/sliderTwo.jpg");
          
      }
      75% {
          background-image: url("../../images/sliderThree.jpg");
          
      }
      100% {
        background-image: url("../../images/sliderFour.jpg");
        
      }
    }

    @keyframes slideLeft {
      from {
        transform: translate(-1000px);
      }
      to {
        transform: translate(0);
      }
    }


@media screen and (min-width: 481px ) and (max-width: 750px) {
  .imgSlide {
    flex-basis: 60vh;
  }
  .imgSlide__text {
    font-size: $fs-l;
  }
  @keyframes changeImage {
    0% {
        background-image: url("../../images/sliderOne750px.jpg");
    }
    25% {
        background-image: url("../../images/sliderTwo750px.jpg");
    }
    50% {
        background-image: url("../../images/sliderThree750px.jpg");
    }
    75% {
      background-image: url("../../images/sliderFour.jpg");
    }100% {
      background-image: url("../../images/sliderFive.jpg");
}
  }
}

@media screen and (min-width: 400px ) and (max-width: 480px) {
  .imgSlide {
    flex-basis: 60vh;
  }
  .imgSlide__text {
    font-size: 38px;
    letter-spacing: 0.7rem;;
  }
}

@media screen and (max-width: 399px) {
  .imgSlide {
    flex-basis: 50vh;
  }
  .imgSlide__text {
    font-size: 27px;
    letter-spacing: 0.7rem;
  }
}


  